<section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ site.landing-title }}</h1>
		<p style="text-transform: uppercase;">{{ site.description }}</p>
            </header>
            <div class="content">
                <ul class="actions">
			<li><a href="#contact" class="button scrolly"> 69 kr/matlåda <span>beställ</span></a></li>
			<!--<li><a href="#contact" class="button scrolly"> 10 boxar 649 kr/månad<br><i class="fa fa-fw fa-star"></i> Prova för 599 kr vid första leverans</a></li>
		    <li><a href="#contact" class="button scrolly"> 5 boxar 349 kr/månad<br><i class="fa fa-fw fa-star"></i> Prova för 319 kr vid första leverans</a></li>
                    <li><a href="#contact" class="button scrolly"> 20 boxar 1199 kr/månad<br><i class="fa fa-fw fa-star"></i> Prova för 1099 kr vid första leverans</a></li>
		    <li><a href="tel:{{ site.phone }}" class="button"><i class="fa fa-fw fa-phone"></i> Ring oss på {{ site.phone }}</a></li>
		    <li><a href="#one" class="button scrolly"><i class="fas fa-fw fa-lightbulb"></i> hur det fungerar</a></li>
		    <li><a href="#three" class="button scrolly"><i class="fa fa-fw fa-star"></i> våra erbjudanden</a></li>
		    <li><a href="#contact" class="button scrolly"><i class="fa fa-fw fa-shopping-cart"></i> beställ</a></li>-->
                </ul>
            </div>
	    <p style="text-transform: uppercase;"><i class="fa fa-fw fa-info"></i> Beställer minst 5 matlådor</br><i class="fa fa-fw fa-biking"></i> fri hemleverans</br><i class="fa fa-fw fa-calendar-alt"></i> valfri leverans varje månad utan bindningstid - 65 kr/matlåda</p>
        </div>
    </section>
