<section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ site.landing-title }}</h1>
		<p style="text-transform: uppercase;">{{ site.description }}</p>
            </header>
            <div class="content">
                <ul class="actions">
		    <!-- <li><a href="tel:{{ site.phone }}" class="button"><i class="fa fa-fw fa-phone"></i> Ring oss på {{ site.phone }}</a></li> -->
		    <li><a href="#one" class="button scrolly"><i class="fas fa-fw fa-lightbulb"></i> hur det fungerar</a></li>
		    <li><a href="#three" class="button scrolly"><i class="fa fa-fw fa-star"></i> våra erbjudanden</a></li>
		    <li><a href="#contact" class="button scrolly"><i class="fa fa-fw fa-shopping-cart"></i> beställ</a></li>
                </ul>
            </div>
        </div>
    </section>
