<section id="spicebanner" class="major">
	<div class="inner">
		<header class="major">
      			<h1>Hälsofördelarna med indiska kryddor som ingår i alla våra matlådar</h1>
			<ul>
				<li>Gurkmeja med den härliga gula färgen är antioxidant med antiinflammatoriska egenskaper</li>

				<li>Spiskummin hjälpa till vid ökar din naturliga förbränning och sänk din kolesterolnivå</li>

				<li>Korrianderfrön har anti-oxidationsegenskaper och kostfiber som främjar det sunda arbetet i levern och underlättar tarmens upptagning av näring</li>

				<li>Vitlök anses nämligen kunna förebygga åderförfettning, sänka blodtrycket och skydda mot blodpropp och cancer</li>

				<li>Ingefära används för att hjälper matsmältningen, minska illamående och hjälpa till att bekämpa influensa Och förkylning</li>
			</ul>
		</header>
  	</div>
</section>
<!-- Two -->
<section id="climatebanner">
  	<div class="inner">
		<header class="major">
      			<h2>Ät Klimatsmart</h2>
		  	<!--<span class="image main"><img src="{{ site.baseurl }}/{{ page.imagec }}" alt="" /></span>-->
		  	<p>Fryst mat bidrar till att minska matsvinn genom att plocka fram precis antal portioner som behövs och låta resten ligga kvar i frysen. Du sparar pengar och miljön.</p></br>
      			<p><a href="https://www.wwf.se/mat-och-jordbruk/vad-ska-jag-ata/">WWFs One Planet Plate</a> har satt en så kallad klimatbudget för mat. Denna klimatbudget visar hur mycket klimatpåverkan våra måltider kan ha för att vi ska kunna nå målet om maximalt 1,5 graders global uppvärmning. Budgeten är 11 kg koldioxidekvivalenter (CO2e) per vecka och per person.</p></br><!-- På indiskaboxen.se klimatkompenseras varje box.</p></br>-->
		  	<p>Indiska boxen är smakrikt och klimatsmart, <a href="#contact">beställ</a> indiska boxen idag!</p>
    		</header>
    		<header class="major">
      			<h2>Varför är fryst mat så bra?</h2>
      			<p>Frysning är ett naturligt sätt att bevara mat, därför behövs inga konserveringsmedel. Maten får en naturlig lång hållbarhet och behåller samtidigt smak, arom, näringsvärde och konsistens.</p>
    		</header>
		<header class="major">
      			<h2>Full av smakar och nyttigheter</h2>
		  	<p>Indisk mat kännetecknas av den omfattande användningen av kryddor som är viktiga för att tillhandahålla autentiska, utsökta och unika smaker. Kryddor och aromater är hjärtat i indisk matlagning. Indier har också använt örter och kryddor som medicin.</p>
    		</header>
  	</div>
</section>
