<!-- Two -->
<section id="climatebanner" class="major">
  	<div class="inner">
		<header class="major">
      			<h2>Ät Klimatsmart</h2>
			<div class="video-container">
			<div class="embed-container">
			<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/-xUDTp8lTO4?start=3&end=64;rel=0&amp;modestbranding=1" frameborder='0' allowfullscreen></iframe>
			</div></div>
		        <!--<span class="image main"><img src="{{ site.baseurl }}/{{ page.imagec }}" alt="" /></span>-->
		  	<p>Fryst mat bidrar till att minska matsvinn genom att plocka fram precis antal portioner som behövs och låta resten ligga kvar i frysen. Du sparar pengar och miljön.</p></br>
      			<p>Varje box från Indiska boxen släpper ut mellan 0,3-0,6 CO2e, vilket han jämföras med en biffrätt som släpper ut 5 CO2e (<a href="https://www.wwf.se/mat-och-jordbruk/vad-ska-jag-ata/">Vad ska jag äta</a>). Våra bas ingredienser är producerade i Sverige och vi har fler smakrika vegetarisk/vegan rätter att välja emellan.</p></br>
                </header>
    		<header class="major">
      			<h2>Full av smakar och nyttigheter</h2>
		  	<p>Indisk mat kännetecknas av den omfattande användningen av kryddor som är viktiga för att tillhandahålla autentiska, utsökta och unika smaker. Kryddor och aromater är hjärtat i indisk matlagning. Indier har också använt örter och kryddor som medicin. Frysning är ett naturligt sätt att bevara mat, därför behövs inga konserveringsmedel. Maten får en naturlig lång hållbarhet och behåller samtidigt smak, arom, näringsvärde och konsistens.</p>
    		        <p>Indiska boxen är smakrikt och klimatsmart <a href="#contact">beställ indiska boxen idag</a>!</p>
                </header>
                <a href="menu" class="button next"><i class="fa fa-fw fa-utensils"></i> se vår meny</a>
  	</div>
</section>
