<!-- Contact -->
<section id="order">
	<div class="inner">
		<section>
		    <header class="major">
                    	<h2>Beställ Färdiglagade Indiska Matlådor</h2>
                    </header>
		    {% include order.html %}   
		</section>
		<section class="split">
			<section>
				<div class="contact-method">
					<span class="icon alt fas fa-envelope"></span>
					<h3>E-post</h3>
					<a href="mailto:info@indiskaboxen.se">{{ site.email }}</a>
				</div>
			</section>
			<!--<section>
				<div class="contact-method">
					<span class="icon alt fas fa-phone"></span>
					<h3>Telefon</h3>
					<a href="tel:{{ site.phone }}">{{ site.phone }}</a>
				</div>
			</section>-->
			<section>
				<div class="contact-method">
					<span class="icon alt fas fa-home"></span>
					<h3>Adress</h3>
					<span>
					{% if site.name %}
					    {{ site.name }}<br />
					{% endif %}
					{% if site.street_address %}
					    {{ site.street_address }}<br />
					{% endif %}
					{% if site.zip_code %}
					    {{ site.zip_code }} 
					{% endif %}
					{% if site.city %}
					    {{ site.city }}<br />
					{% endif %}
					{% if site.state %}
					    {{ site.state }} 
					{% endif %}
					{% if site.country %}
					    {{ site.country }}
					{% endif %}
					</span>
				</div>
			</section>
		</section>
	</div>
</section>
