<!-- Contact -->
<section id="contact">
	<div class="inner">
		<section>
		    <header class="major">
                    	<h2>Beställ Färdiglagad Indisk Matlådor</h2>
                    </header>
		    <form id="contact-form" class="contact-form" method="post" data-success="Ditt beställ har registrerats! Tack för din beställning.">
  			<input type="hidden" name="_next" value="thanks" />
			<input id="dispnon" name="_prev" type="text" />
			<div class="field">    
			  <label for="postcode">Postnummer</label>
  			  <input id="postcode" type="text" name="postcode" class="field" required />
                        </div>
		      	<div class="field">    
			  <label for="name">Name</label>
  			  <input id="name" type="text" name="name" class="field" required />
                        </div>
			<div class="field">
  			  <label for="email">E-mail</label>
  			  <input id="email" type="email" name="email" class="field" required />
			</div>
			<div class="field">
			  <label for="productsel">Välj Paket</label>
			  <select name="productsel" id="productsel" class="field" required>
			    <option selected value="10">10 Boxar</option>
			    <!--<option value="20">20 Boxar</option>
			    <option value="30">30 Boxar</option>-->
			  </select>  
			</div>
                        <label class="collapsible"> Välj de boxar du vill beställa </label>
			<div class="cblock">
			<div class="field">
			  <label for="Chicken Korma">Chicken Korma</label>
			  <p>kycklinglårfilé i smakrik gryta som tillagas med lök, tomat, grön chili, ingefära och garam masala med kokosmjolk</p>
			  <input type="text" name="Chicken Korma" id="Chicken Korma" class="quantity" value=2>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="inc"><i class="fas fa-plus"></i></span>
			</div>
			<div class="field">
			  <label for="Palak Chicken">Palak Chicken</label>
			  <p>kycklinglårfilé i smakrik spenat gryta med grädde</p>
			  <input type="text" name="Palak Chicken" id="Palak Chicken" class="quantity" value=2>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="inc"><i class="fas fa-plus"></i></span>
			</div>
			<div class="field">
			  <label for="Paneer Tikka Masala">Paneer Tikka Masala</label>
			  <p>smörstekt indisk färskost (paneer) i krämig tikka masala sås</p>
			  <input type="text" name="Paneer Tikka Masala" id="Paneer Tikka Masala" class="quantity" value=2>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="inc"><i class="fas fa-plus"></i></span>
			</div>
			<div class="field">
			  <label for="Palak Paneer">Palak Paneer</label>
			  <p>smakrik indisk färskost (paneer) i en krämig grädd och spenatsås kryddad med garam masala, vitlök, ingefära och tomat</p>
			  <input type="text" name="Palak Paneer" id="Palak Paneer" class="quantity" value=2>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="inc"><i class="fas fa-plus"></i></span>
			</div>
			<div class="field">
			  <label for="Palak Dal">Palak Dal</label>
			  <p>linsgryta med gul linser och spenat lagad med rika indisk kryddor som koriander, vitlok, ingefära, kummin och senapsfrön</p>
			  <input type="text" name="Palak Dal" id="Palak Dal" class="quantity" value=2>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="inc"><i class="fas fa-plus"></i></span>
			</div>
			<div class="field">
			  <input type="checkbox" required id="terms" name="terms">
			  <label for="terms"> Jag vill ha svar från Indiska Boxen och samtycker därför till att ni behandlar mina personuppgifter</label>
			</div>
			<button type="submit">Skicka Beställ</button>
			</div>
		    </form>
			<!-- <form action="https://formspree.io/{{ site.email }}" method="POST">
				<input type="hidden" name="_next" value="thanks" />
				<div class="field half first">
					<label for="name">Namn</label>
					<input type="text" name="name" id="name" />
				</div>
				<div class="field half">
					<label for="city">Stad</label>
					<select type="text" name="city" id="city">
						<option value="stockholm">Stockholm</option>
					</select>
				</div>
				<div class="field half first">
					<label for="email">E-post</label>
					<input type="text" name="_replyto" id="email" />
				</div>
				<div class="field half">
					<label for="Telephone">Telefon</label>
					<input type="text" name="telephone" id="telephone" />
				</div>
				<div class="field half first">
					<label for="Date">Datum</label>
					<input type="text" name="date" id="date" />
				</div>
				<div class="field half">
					<label for="Discount">Rabattkod?</label>
					<input type="text" name="discount" id="discount" />
				</div>
				<div class="field">
					<label for="message">Önskad tjänst</label>
					<textarea name="message" id="message" rows="6"></textarea>
				</div>
				<ul class="actions">
					<li><input type="submit" value="Skicka!" class="special" /></li>
					<li><input type="reset" value="Klar" /></li>
				</ul>
			</form>  -->
			
		</section>
		<!-- <section class="split">
			<section>
				<div class="contact-method">
					<span class="icon alt fas fa-envelope"></span>
					<h3>E-post</h3>
					<a href="#contact">{{ site.email }}</a>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<span class="icon alt fas fa-phone"></span>
					<h3>Telefon</h3>
					<a href="tel:{{ site.phone }}">{{ site.phone }}</a>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<span class="icon alt fas fa-home"></span>
					<h3>Adress</h3>
					<span>
					{% if site.street_address %}
					    {{ site.street_address }}<br />
					{% endif %}
					{% if site.city %}
					    {{ site.city }},
					{% endif %}
					{% if site.state %}
					    {{ site.state }} 
					{% endif %}
					{% if site.zip_code %}
					    {{ site.zip_code }}<br />
					{% endif %}
					{% if site.country %}
					    {{ site.country }}
					{% endif %}
					</span>
				</div>
			</section>
		</section> -->
	</div>
</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				{% if site.twitter_url %}
				<li><a href="{{ site.twitter_url }}" class="icon alt fab fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
				{% endif %}
				{% if site.googleplus_url %}
				<li><a href="{{ site.googleplus_url }}" class="icon alt fab fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
				{% endif %}
				{% if site.facebook_url %}
				<li><a href="{{ site.facebook_url }}" class="icon alt fab fa-3x fa-facebook-f" target="_blank"><span class="label">Facebook</span></a></li>
				{% endif %}
				{% if site.instagram_url %}
				<li><a href="{{ site.instagram_url }}" class="icon alt fab fa-3x fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				{% endif %}
				{% if site.pinterest_url %}
				<li><a href="{{ site.pinterest_url }}" class="icon alt fab fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
				{% endif %}
				{% if site.500px_url %}
				<li><a href="{{ site.500px_url }}" class="icon alt fab fa-500px" target="_blank"><span class="label">500px</span></a></li>
				{% endif %}
				{% if site.gitlab_url %}
				<li><a href="{{ site.gitlab_url }}" class="icon alt fab fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
				{% endif %}
				{% if site.github_url %}
				<li><a href="{{ site.github_url }}" class="icon alt fab fa-github" target="_blank"><span class="label">GitHub</span></a></li>
				{% endif %}
				{% if site.slack_url %}
				<li><a href="{{ site.slack_url }}" class="icon alt fab fa-slack" target="_blank"><span class="label">Slack</span></a></li>
				{% endif %}
				{% if site.linkedin_url %}
				<li><a href="{{ site.linkedin_url }}" class="icon alt fab fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
				{% endif %}
			</ul>
			<ul class="copyright">
				<li>&copy; {{ site.title }}</li>
				<li>Banner by <a href="https://unsplash.com/@pratiksha_mohanty?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Pratiksha Mohanty</a></li>
			</ul>
		</div>
	</footer>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
        <script src="{{ "assets/js/jquery-ui.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
        <!--<script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9"></script>-->
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
        <script data-cfasync="false" type="text/javascript" src="{{ "assets/js/form-submission-handler.js" | absolute_url }}"></script>
