<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header" {% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}" class="logo"><strong>{{ site.title }}</strong><!-- <span>{{ site.title | split: ' ' | last}}</span>--> <span>{{ site.subtitle }}</span> </a>
	<nav>
		<a href="/#contact" class="button special">beställ</a>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
        {% for ipage in site.pages %}
		{% if ipage.layout == "home" %}
			<li><a href="{{ "" | absolute_url }}/">{{ ipage.title }}</a></li>
	    	{% endif %}
	{% endfor %}
		<li><a href="/#one" class="button special fit">hur det fungerart</a></li>
		<li><a href="/#three">våra erbjudanden</a></li>
		{% assign sorted_pages = site.pages | sort:"order" %}
                {% for ipage in sorted_pages %}
		    {% if ipage.layout != "home" and ipage.layout != "landing" and ipage.nav-menu == true %}
		        <li><a href="{{ ipage.url | absolute_url }}">{{ ipage.title }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
</nav>
