<section id="one">
 <div class="inner">
   <header class="major">
     <h2>Så här funkar det</h2>
   </header>
   <section id="concept">
     <section>
	<i class="icon alt fas fa-shopping-cart" ></i>     
	<header class="major">
          <h2>1. beställning</h2>
      	  <p>Du väljer vilka rätter du vill beställa och hur många portioner som önskas per månad. Skicka din beställning för att starta din prenumeration. Ändra/avsluta prenumerationen när du vill, fram till tre dagar innan nästa leverans. </p>
    	</header>
     </section>
     <section>
	<i class="icon alt fas fa-truck" ></i>   
   	<header class="major">
          <h2>2. leverans</h2>
	  <p>Vi tillagar, paketerar, fryser och levererar din mat hem till din dörr. Leverans varje söndag. Vi måste få din beställning senast onsdag för att kunna leverera på söndag samma vecka.</p>
        </header>
     </section>
     <section>
	<i class="icon alt fas fa-utensils" ></i>   
        <header class="major">
          <h2>3. njuta av den goda indiska maten</h2>
	  <p>Värm i micro och njut den maträtt du vill äta för dagen och ta ett steg närmare en hälsosam livsstil. </p>
        </header>
     </section>
   </section>
 </div>
</section>
