<section id="one">
 <div class="inner">
   <header class="major">
     <h2>Så här funkar det</h2>
   </header>
   <section id="concept">
     <section>
	<i class="icon alt fas fa-shopping-cart" ></i>     
	<header class="major">
          <h2>1. beställning</h2>
      	  <p><!--Du väljer mellan 10, 20 eller 30 boxar. -->Du väljer vilka rätter du vill beställa och hur många portioner som önskas. Skicka din beställning när du är nöjd med ditt val och betalar genom Swish (betalningsinformation i e-postbekräftelsen du får efter du lagt en beställning). </p>
    	</header>
     </section>
     <section>
	<i class="icon alt fas fa-truck" ></i>   
   	<header class="major">
          <h2>2. leverans</h2>
	  <p>Vi tillagar, paketerar, frysa och levererar din mat hem till din dörr. Leverans varje söndag. Vi måste få din beställning senast onsdag för att kunna leverera på söndag</p>
        </header>
     </section>
     <section>
	<i class="icon alt fas fa-utensils" ></i>   
        <header class="major">
          <h2>3. njuta av den goda hemlagade maten</h2>
	  <p>Värm i micro och njut maträtt du vill äta för dagen och ta ett steg närmare en hälsosam livsstil. </p>
        </header>
     </section>
   </section>
 </div>
</section>
