<form id="contact-form" class="contact-form" method="post" data-success="Ditt order har registrerats! Tack för din beställning. Nedan kan du se betalningsinformation om din beställning:">
  		<input type="hidden" name="_next" value="thanks" />
			<input id="dispnon" name="_prev" type="text" />
	                <div class="sblock">
			<div class="field">    
			  <label for="postcode">Postnummer <i class="fas fa-fw fa-star"></i></label>
  			  <input id="postcode" type="text" name="postcode" class="field" maxlength = "5" required />
			  <label class="collapsible"> Kan vi leverera till dig? Skriv in ditt postnummer och kolla </label>
			</div>
	                </div>
			<div class="cblock">
			<div class="sblock">
			<div class="field">
  			  <label for="email">E-mail <i class="fas fa-fw fa-star"></i></label>
  			  <input id="email" type="email" name="email" class="field" required />
			</div>
			<div class="field">
  			  <label for="phone">Mobil <i class="fas fa-fw fa-star"></i></label>
  			  <input id="phone" type="number" name="phone" class="field" required />
			</div>
		      	<div class="field">    
			  <label for="firstname">Förnamn <i class="fas fa-fw fa-star"></i></label>
  			  <input id="firstname" type="text" name="firstname" class="field" required />
                        </div>
			<div class="field">    
			  <label for="lastname">Efternamn <i class="fas fa-fw fa-star"></i></label>
  			  <input id="lastname" type="text" name="lastname" class="field" required />
                        </div>
			<div class="field">    
			  <label for="address">Gatuadress <i class="fas fa-fw fa-star"></i></label>
  			  <input id="address" type="text" name="address" class="field" required />
                        </div> 
			<div class="field">
			  <label for="city">Stad <i class="fas fa-fw fa-star"></i></label>
			  <input id="city" type="text" name="city" class="field" required />
			</div>
			<div class="field">    
			  <label for="postcode_ro">Postnummer </label>
  			  <input id="postcode_ro" type="number" name="postcode_ro" class="out field" disabled/>
                        </div>
			<div class="field">    
			  <label for="doorcode">Portkod / Leveransinstruktioner</label>
  			  <input id="doorcode" type="text" name="doorcode" class="field" />
                        </div>
			<div class="field">    
			  <label for="floor">Våning</label>
  			  <input id="floor" type="text" name="floor" class="field" />
                        </div>
			<div class="field">
  			  <label for="co">C/O</label>
  			  <input id="co" type="text" name="co" class="field" />
			</div>
			</div>
			<div class="field">
			  <label for="delivery">Nästa Leveransdatum <i class="fas fa-fw fa-star"></i></label>
			  <p>På torsdag eftermiddag, efter ruttplanering, får du ett SMS med en uppskattad leveranstid på +/- 40 minuter</p>
			  <select type="text" name="delivery" id="delivery">
			  </select>
			  <!--<input id="delivery" type="text" name="delivery" class="field" required readonly="readonly"/>-->
			</div>
			<h3><i>Här kan du välja hur många boxar du önskar, varje box ca. 400gm</i></h3>
			<div class="field">
			  <label class="field first half" for="Chana Masala">Chana Masala (vegan)</label>
			  <p class="field half"><i class="fas fa-fw fa-globe-americas"></i>TBD CO<sub>2</sub>e</p>
			  <p>kikärter med lök, tomat, kryddor och citronsaft</p>
			  <p>chickpea curry with onion, tomato, garam masala and lemon juice</p>
			  <p><b>Ingredienser</b> Basmatiris 35%, Kikärtor, Sås 30% (Lök, Tomat, Vitlök, Ingefära, Rapsolja, Citronsaft, Salt och Garam Masala Kryddor)</p>
			  <p><b>Allergener</b> Kan innehålla spår av Mjölk, Laktos, Senapsfrö, Cashewnötter och Mandelmjöl</p>
			  <p>Matlåda med Ris 79kr (69kr med prenumeration)</p>
			  <div class="submenu">
			  <input type="number" name="Chana Masala Matlåda" id="Chana Masala Matlåda" class="quantity" min="0" value=0 disabled>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="item inc"><i class="fas fa-plus"></i></span>
			  </div>
			  <p>Currylåda utan Ris 129kr (119kr med prenumeration)</p>
			  <div class="submenu">
			  <input type="number" name="Chana Masala Currylåda" id="Chana Masala Currylåda" class="quantity special" min="0" value=0 disabled>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="item inc"><i class="fas fa-plus"></i></span>
			  </div>
			</div>
			<div class="field">
			  <label class="field first half" for="Sambar Rice">Sambar Rice (vegan)</label>
			  <p class="field half"><i class="fas fa-fw fa-globe-americas"></i>TBD CO<sub>2</sub>e</p>
			  <p>Ett traditionellt södra indiskt recept. Linser och ris tillagad med grönsaker och välsmakande kryddor.</p>
			  <p>Sambar rice is made with lentils, rice, mixed vegetables, spices & herbs. A traditional recipe from south india.</p>
			  <p><b>Ingredienser</b> Ris 37%, Sambar 63% (Linser, Blandade Grönsaker, Lök, Tomat, Vitlök, Ingefära, Rapsolja, Tamarind, Vallmofrö, Senapsfrö, Garam Masala Kryddor och Salt)</p>
			  <p><b>Allergener</b> Senapsfrö, Vallmofrö, Kan innehålla spår av Mjölk, Laktos, Senapsfrö, Cashewnötter och Mandelmjöl</p>
			  <p>Matlåda med Ris 79kr (69kr med prenumeration)</p>
			  <div class="submenu">
			  <input type="number" name="Sambar Rice Matlåda" id="Sambar Rice Matlåda" class="quantity" min="0" value=0 disabled>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="item inc"><i class="fas fa-plus"></i></span>
			  </div>
			  <p>Currylåda utan Ris 129kr (119kr med prenumeration)</p>
			  <div class="submenu">
			  <input type="number" name="Sambar Currylåda" id="Sambar Currylåda" class="quantity special" min="0" value=0 disabled>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="item inc"><i class="fas fa-plus"></i></span>
			  </div>
			</div>
			<div class="field">
			  <label class="field first half" for="Paneer Tikka Masala">Paneer Tikka Masala (vegetariskt)</label>
			  <p class="field half"><i class="fas fa-fw fa-globe-americas"></i>0,6 kg CO<sub>2</sub>e</p>
			  <p>indisk färskost i krämig tikka masala sås</p>
			  <p>paneer in creamy tikka masala sauce</p>
			  <p><b>Ingredienser</b> Basmatiris 35%, Indisk Färskost 20%, Sås 45% (Tomat, Lök, Grädde, Yogurt, Vitlök, Ingefära, Rapsolja, Salt, Bockhornsklöver Blad och Garam Masala Kryddor)</p>
			  <p><b>Allergener</b> Mjölk, Laktos, Kan innehålla spår av Senapsfrö, Cashewnötter och Mandelmjöl</p>
			  <p>Matlåda med Ris 79kr (69kr med prenumeration)</p>
			  <div class="submenu">
			  <input type="number" name="Paneer Tikka Masala Matlåda" id="Paneer Tikka Masala Matlåda" class="quantity" min="0" value=0 disabled>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="item inc"><i class="fas fa-plus"></i></span>
			  </div>
			  <p>Currylåda utan Ris 129kr (119kr med prenumeration)</p>
			  <div class="submenu">
			  <input type="number" name="Paneer Tikka Masala Currylåda" id="Paneer Tikka Masala Currylåda" class="quantity special" min="0" value=0 disabled>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="item inc"><i class="fas fa-plus"></i></span>
			  </div>
			</div>
			<div class="field">
			  <label class="field first half" for="Palak Paneer">Palak Paneer (vegetariskt)</label>
			  <p class="field half"><i class="fas fa-fw fa-globe-americas"></i>0,6 kg CO<sub>2</sub>e</p>
			  <p>smakrik indisk färskost i krämig spenatsås kryddad med garam masala, vitlök, ingefära och tomat</p>
			  <p>paneer in creamy spinach sauce spiced with garam masala, garlic, ginger and tomato</p>
			  <p><b>Ingredienser</b> Basmatiris 35%, Indisk Färskost 20%, Sås 45% (Tomat, Lök, Spenat, Grädde, Yogurt, Vitlök, Ingefära, Rapsolja, Salt, Bockhornsklöver Blad och Garam Masala Kryddor)</p>
			  <p><b>Allergener</b> Mjölk, Laktos, Kan innehålla spår av Senapsfrö, Cashewnötter och Mandelmjöl</p>
			  <p>Matlåda med Ris 79kr (69kr med prenumeration)</p>
			  <div class="submenu">
			  <input type="number" name="Palak Paneer Matlåda" id="Palak Paneer Matlåda" class="quantity" min="0" value=0 disabled>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="item inc"><i class="fas fa-plus"></i></span>
		          </div>
			  <p>Currylåda utan Ris 129kr (119kr med prenumeration)</p>
			  <div class="submenu">
			  <input type="number" name="Palak Paneer Currylåda" id="Palak Paneer Currylåda" class="quantity special" min="0" value=0 disabled>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="item inc"><i class="fas fa-plus"></i></span>
			  </div>
			</div>
			<div class="field">
			  <label class="field first half" for="Palak Dal">Palak Dal (vegan)</label>
			  <p class="field half"><i class="fas fa-fw fa-globe-americas"></i>0,27 kg CO<sub>2</sub>e</p>
			  <p>gula linser i krämig spenatsås tillagad med rika indiska kryddor som koriander, vitlök, ingefära, kummin och senapsfrön</p>
			  <p>yellow lentils i creamy spinach sauce cooked with rich indian spices such as coriander, garlic, ginger, cumin and mustard seeds</p>
			  <p><b>Ingredienser</b> Basmatiris 35%, Gula Linser 35%, Sås 30% (Lök, Tomat, Kokosmjölk, Spenat, Vitlök, Ingefära, Rapsolja, Salt och Garam Masala Kryddor)</p>
			  <p><b>Allergener</b> Spår av Cashewnötter, Mandelmjöl och Senapsfrö</p>
			  <p>Matlåda med Ris 79kr (69kr med prenumeration)</p>
			  <div class="submenu">
			  <input type="number" name="Palak Dal Matlåda" id="Palak Dal Matlåda" class="quantity" min="0" value=0 disabled>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="item inc"><i class="fas fa-plus"></i></span>
		          </div>
			  <p>Currylåda utan Ris 129kr (119kr med prenumeration)</p>
			  <div class="submenu">
			  <input type="number" name="Palak Dal Currylåda" id="Palak Dal Currylåda" class="quantity special" min="0" value=0 disabled>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="item inc"><i class="fas fa-plus"></i></span>
			  </div>
			</div>
			<div class="field">
			  <label class="field first half" for="Vegetable Korma">Chole Vegetable Korma (vegan)</label>
			  <p class="field half"><i class="fas fa-fw fa-globe-americas"></i>0,28 kg CO<sub>2</sub>e</p>
			  <p>smakrik vegetarisk korma tillagad med grönsaker, kikärter och välsmakande kryddor i kokosmjölk</p>
			  <p>korma cooked with vegetables, chickpeas and tasty spices in coconut milk</p>
			  <p><b>Ingredienser</b> Basmatiris 35%, Blandade Grönsaker, Kikärtor, Sås 30% (Lök, Tomat,  Kokosmjölk, Mandelmjöl, Vitlök, Ingefära, Rapsolja, Salt och Garam Masala Kryddor)</p>
			  <p><b>Allergener</b> Spår av Cashewnötter, Mandelmjöl, Senapsfrö</p>
			  <p>Matlåda med Ris 79kr (69kr med prenumeration)</p>
			  <div class="submenu">
			  <input type="number" name="Vegetable Korma Matlåda" id="Vegetable Korma Matlåda" class="quantity" min="0" value=0 disabled>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="item inc"><i class="fas fa-plus"></i></span>
		          </div>
			  <p>Currylåda utan Ris 129kr (119kr med prenumeration)</p>
			  <div class="submenu">
			  <input type="number" name="Vegetable Korma Currylåda" id="Vegetable Korma Currylåda" class="quantity special" min="0" value=0 disabled>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="item inc"><i class="fas fa-plus"></i></span>
			  </div>
			</div>
                        <div class="field">
			  <label class="field first half" for="Ennai Kathirikai Kuzhambu">Ennai Kathirikai Kuzhambu (vegan)</label>
			  <p class="field half"><i class="fas fa-fw fa-globe-americas"></i>0,29 kg CO<sub>2</sub>e</p>
			  <p>Aubergine i kokosås tillagad med rostade kryddor</p>
			  <p>Eggplant in curry made with roasted spices and coconut</p>
			  <p><b>Ingredienser</b> Basmatiris 35%, Aubergine 35%, Sås 30% (Lök, Tomat, Gula Linser, Kokosmjölk, Vitlök, Ingefära, Rapsolja, Salt och Garam Masala Kryddor)</p>
			  <p><b>Allergener</b> Spår av Cashewnötter, Mandelmjöl och Senapsfrö</p>
			  <p>Matlåda med Ris 79kr (69kr med prenumeration)</p>
			  <div class="submenu">
			  <input type="number" name="Ennai Kathirikai Kuzhambu Matlåda" id="Ennai Kathirikai Kuzhambu Matlåda" class="quantity" min="0" value=0 disabled>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="item inc"><i class="fas fa-plus"></i></span>
			  </div>
			  <p>Currylåda utan Ris 129kr (119kr med prenumeration)</p>
			  <div class="submenu">
			  <input type="number" name="Ennai Kathirikai Kuzhambu Currylåda" id="Ennai Kathirikai Kuzhambu Currylåda" class="quantity special" min="0" value=0 disabled>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="item inc"><i class="fas fa-plus"></i></span>
			  </div>
			</div>
                        <div class="field">
			  <label class="field first half" for="Butter Chicken">Butter Chicken</label>
			  <p class="field half"><i class="fas fa-fw fa-globe-americas"></i>0,6 kg CO<sub>2</sub>e</p>
			  <p>kycklingfilé i smakrik tomat och cashewsås</p>
			  <p>chicken fillet in tasty tomato and cashew sauce</p>
			  <p><b>Ingredienser</b> Basmatiris 35%, Kycklingfilé 30%, Sås 35% (Tomat, Lök, Grädde, Yogurt, Smör, Vitlök, Ingefära, Rapsolja, Salt, Bockhornsklöver Blad och Garam Masala Kryddor)</p>
			  <p><b>Allergener</b> Mjölk, Laktos, Kan innehålla spår av Senapsfrö, Cashewnötter och Mandelmjöl</p>
			  <p>Matlåda med Ris 79kr (69kr med prenumeration)</p>
			  <div class="submenu">
			  <input type="number" name="Butter Chicken Matlåda" id="Butter Chicken Matlåda" class="quantity" min="0" value=0 disabled>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="item inc"><i class="fas fa-plus"></i></span>
			  </div>
			  <p>Currylåda utan Ris 129kr (119kr med prenumeration)</p>
			  <div class="submenu">
			  <input type="number" name="Butter Chicken Currylåda" id="Butter Chicken Currylåda" class="quantity special" min="0" value=0 disabled>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="item inc"><i class="fas fa-plus"></i></span>
			  </div>
			</div>
			<!--<div class="field">
			  <label for="productsel">Antal Paket (MINST 5 MATLÅDOR)</label>
			  <input type="number" name="productsel" id="productsel" min="5" value=5 disabled>
			  <span class="prodsel dec"><i class="fas fa-minus"></i></span>
                          <span class="inc"><i class="fas fa-plus"></i></span>
			</div>-->
			<h3>
    			  <i>Val av tillbehör</i>
			</h3>
                        <div class="field">
			  <label class="field" for="Chappatilåda">10st Chapatibröd 89kr</label>
			  <p><b>Allergener</b> Gluten</p>
                          <div class="submenu">
			  <input type="number" name="Chappatilåda" id="Chappatilåda" class="quantity chappati" min="0" value=0 disabled>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="item inc"><i class="fas fa-plus"></i></span>
			  </div>	
                        </div>
			<div class="sblock">
			<h3>
    			  <i>Prenumeration</i>
			</h3>
			<div class="field">
                          <input type="checkbox" id="subscription" name="subscription">
			  <label for="subscription">Matlådorna leverans varje månad så länge du önskar utan bindningstid</label>
			</div>
			</div>
			<h3>
    			  <i>Order Summary</i>
			</h3>
			<div class="field">    
			  <label for="productsel">Antal</label>
  			  <input id="productsel" type="number" name="productsel" class="out field" value=0 disabled/>
                        </div>
			<div class="field">    
			  <label for="total">Totalsumma (Inkl Moms i SEK)</label>
  			  <input id="total" type="number" name="total" class="out field" value=0 disabled/>
                        </div>
			<div class="sblock">
			<div class="field">
			  <input type="checkbox" required id="terms" name="terms">
			  <label for="terms">Jag samtycker till att Indiska Boxen behandlar mina personuppgifter, såsom mina kontaktuppgifter, betal och orderinformation bl.a. för att kunna hantera min beställning.</label>
			</div>
			</div>
			<label class="minorder"><i class="fa fa-fw fa-exclamation"></i> Beställ minst 5 matlådor (prenumeration minst 10 matlådor)</label>
			<button id="orderbtn" type="submit" disabled>Betala</button>
			</div>
</form>
<div id="paydiv">
			<h4>Beställningsnummer: <span class="orderid"></span><br>Summa att betala: <span class="ordertotal"></span> kr</h4>
			<h4>Betala med Swish</h4>
			<a class="link swish-link">
				<img src="{{ site.baseurl }}/assets/images/Swish_Vertical.png" alt-src="Betala med Swish">
			</a>
	  	<!--<button class="link swish-link">Betala med Swish</button>-->
			<a id="swish-uri"></a>
      <div id="swish-qr" class="modal" onclick="this.style.display='none'">
    	    <div class="modal-content">
					    <h5>Scan the QR code using the Swish app to start payment or manually enter Swish number 123 342 54 44</h5>
		                            <h5>Amount: <span class="ordertotal"></span> kr<br>Message: <span class="orderid"></span></h5>					    
      				<img src="{{ site.baseurl }}/assets/images/indiskaboxenswish.png" >
				  </div>
  		</div>
 </div>
