<form id="contact-form" class="contact-form" method="post" data-success="Ditt order har registrerats! Tack för din beställning. Nedan kan du se betalningsinformation om din beställning:">
  		<input type="hidden" name="_next" value="thanks" />
			<input id="dispnon" name="_prev" type="text" />
	                <div class="sblock">
			<div class="field">    
			  <label for="postcode">Postnummer <i class="fas fa-fw fa-star"></i></label>
  			  <input id="postcode" type="text" name="postcode" class="field" maxlength = "5" required />
			  <label class="collapsible"> Kan vi leverera till dig? Skriv in ditt postnummer och kolla </label>
			</div>
	                </div>
			<div class="cblock">
			<div class="sblock">
			<div class="field">
  			  <label for="email">E-mail <i class="fas fa-fw fa-star"></i></label>
  			  <input id="email" type="email" name="email" class="field" required />
			</div>
			<div class="field">
  			  <label for="phone">Mobil <i class="fas fa-fw fa-star"></i></label>
  			  <input id="phone" type="number" name="phone" class="field" required />
			</div>
		      	<div class="field">    
			  <label for="firstname">Förnamn <i class="fas fa-fw fa-star"></i></label>
  			  <input id="firstname" type="text" name="firstname" class="field" required />
                        </div>
			<div class="field">    
			  <label for="lastname">Efternamn <i class="fas fa-fw fa-star"></i></label>
  			  <input id="lastname" type="text" name="lastname" class="field" required />
                        </div>
			<div class="field">    
			  <label for="address">Gatuadress <i class="fas fa-fw fa-star"></i></label>
  			  <input id="address" type="text" name="address" class="field" required />
                        </div> 
			<div class="field">
			  <label for="city">Stad <i class="fas fa-fw fa-star"></i></label>
			  <input id="city" type="text" name="city" class="field" required />
			</div>
			<div class="field">    
			  <label for="postcode_ro">Postnummer </label>
  			  <input id="postcode_ro" type="number" name="postcode_ro" class="out field" disabled/>
                        </div>
			<div class="field">    
			  <label for="doorcode">Portkod / Leveransinstruktioner</label>
  			  <input id="doorcode" type="text" name="doorcode" class="field" />
                        </div>
			<div class="field">    
			  <label for="floor">Våning</label>
  			  <input id="floor" type="text" name="floor" class="field" />
                        </div>
			<div class="field">
  			  <label for="co">C/O</label>
  			  <input id="co" type="text" name="co" class="field" />
			</div>
			</div>
			<div class="field">
			  <label for="delivery">Nästa Leveransdatum <i class="fas fa-fw fa-star"></i></label>
			  <select type="text" name="delivery" id="delivery">
			  </select>
			  <!--<input id="delivery" type="text" name="delivery" class="field" required readonly="readonly"/>-->
			</div>
			<h3><i>Här kan du välja hur många boxar du önskar av varje rätt</i></h3>
			<!--<div class="field">
			  <label class="field first half" for="Paneer Tikka Masala">Paneer Tikka Masala</label>
			  <p class="field half"><i class="fas fa-fw fa-globe-americas"></i>0,6 kg CO<sub>2</sub>e</p>
			  <p>smörstekt indisk färskost i krämig tikka masala sås</p>
			  <p>paneer in creamy tikka masala sauce</p>
			  <p><b>Allergener</b> Cashewnötter, Mandelmjöl, Mjölk, Laktos, Senap</p>
			  <input type="number" name="Paneer Tikka Masala" id="Paneer Tikka Masala" class="quantity awindow" min="0" value=0 disabled>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="item inc"><i class="fas fa-plus"></i></span>
			</div>-->
			<div class="field">
			  <label class="field first half" for="Palak Paneer">Palak Paneer</label>
			  <p class="field half"><i class="fas fa-fw fa-globe-americas"></i>0,6 kg CO<sub>2</sub>e</p>
			  <p>smakrik indisk färskost i krämig spenatsås kryddad med garam masala, vitlök, ingefära och tomat</p>
			  <p>paneer in creamy spinach sauce spiced with garam masala, garlic, ginger and tomato</p>
			  <p><b>Ingredienser</b> Basmatiris 35%, Indisk Färskost 20%, Sås 45% (Lök, Tomat, Spenat, Grädde, Mandelmjöl, Smör, Vitlök, Ingefära, Rapsolja, Salt, Bockhornsklöver Blad och Garam Masala Kryddor)</p>
			  <p><b>Allergener</b> Cashewnötter, Mandelmjöl, Mjölk, Laktos, Senapsfrö, Vallmofrö</p>
			  <input type="number" name="Palak Paneer" id="Palak Paneer" class="quantity awindow" min="0" value=0 disabled>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="item inc"><i class="fas fa-plus"></i></span>
			</div>
			<div class="field">
			  <label class="field first half" for="Palak Dal">Palak Dal (vegan)</label>
			  <p class="field half"><i class="fas fa-fw fa-globe-americas"></i>0,27 kg CO<sub>2</sub>e</p>
			  <p>gula linser i krämig spenatsås tillagad med rika indiska kryddor som koriander, vitlök, ingefära, kummin och senapsfrön</p>
			  <p>yellow lentils i creamy spinach sauce cooked with rich indian spices such as coriander, garlic, ginger, cumin and mustard seeds</p>
			  <p><b>Ingredienser</b> Basmatiris 35%, Gula Linser 35%, Sås 30% (Lök, Tomat, Kokosmjölk, Spenat, Vitlök, Ingefära, Rapsolja, Salt och Garam Masala Kryddor)</p>
			  <p><b>Allergener</b> Cashewnötter, Mandelmjöl, Mjölk, Laktos, Senapsfrö, Vallmofrö</p>
			  <input type="number" name="Palak Dal" id="Palak Dal" class="quantity" min="0" value=0 disabled>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="item inc"><i class="fas fa-plus"></i></span>
			</div>
			<div class="field">
			  <label class="field first half" for="Vegetable Korma">Chole Vegetable Korma (vegan)</label>
			  <p class="field half"><i class="fas fa-fw fa-globe-americas"></i>0,28 kg CO<sub>2</sub>e</p>
			  <p>smakrik vegetarisk korma tillagad med färska grönsaker, kikärter och välsmakande kryddor i kokosmjölk</p>
			  <p>korma cooked with fresh vegetables, chickpeas and tasty spices in coconut milk</p>
			  <p><b>Ingredienser</b> Basmatiris 35%, Blandade Grönsaker, Kikärtor, Sås 30% (Lök, Tomat,  Kokosmjölk, Mandelmjöl, Vitlök, Ingefära, Rapsolja, Salt och Garam Masala Kryddor)</p>
			  <p><b>Allergener</b> Cashewnötter, Mandelmjöl, Mjölk, Laktos, Senapsfrö, Vallmofrö</p>
			  <input type="number" name="Vegetable Korma" id="Vegetable Korma" class="quantity" min="0" value=0 disabled>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="item inc"><i class="fas fa-plus"></i></span>
			</div>
                        <div class="field">
			  <label class="field first half" for="Ennai Kathirikai Kuzhambu">Ennai Kathirikai Kuzhambu (vegan)</label>
			  <p class="field half"><i class="fas fa-fw fa-globe-americas"></i>0,29 kg CO<sub>2</sub>e</p>
			  <p> Aubergine i kokosås tillagad med rostade kryddor</p>
			  <p>Eggplant in curry made with roasted spices and coconut</p>
			  <p><b>Ingredienser</b> Basmatiris 35%, Aubergine 35%, Sås 30% (Lök, Tomat, Gula Linser, Kokosmjölk, Vitlök, Ingefära, Rapsolja, Salt och Garam Masala Kryddor)</p>
			  <p><b>Allergener</b> Cashewnötter, Mandelmjöl, Mjölk, Laktos, Senapsfrö, Vallmofrö</p>
			  <input type="number" name="Ennai Kathirikai Kuzhambu" id="Ennai Kathirikai Kuzhambu" class="quantity" min="0" value=0 disabled>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="item inc"><i class="fas fa-plus"></i></span>
			</div>
                        <div class="field">
			  <label class="field first half" for="Butter Chicken">Butter Chicken</label>
			  <p class="field half"><i class="fas fa-fw fa-globe-americas"></i>0,6 kg CO<sub>2</sub>e</p>
			  <p>svensk kycklingfilé i smakrik tomat och cashewsås</p>
			  <p>swedish chicken fillet in tasty tomato and cashew sauce</p>
			  <p><b>Ingredienser</b> Basmatiris 35%, Svensk Kycklingfilé 30%, Sås 35% (Tomat, Lök, Grädde, Mandelmjöl, Smör, Yogurt, Vitlök, Ingefära, Rapsolja, Salt, Bockhornsklöver Blad och Garam Masala Kryddor)</p>
			  <p><b>Allergener</b> Cashewnötter, Mandelmjöl, Mjölk, Laktos, Senapsfrö, Vallmofrö</p>
			  <input type="number" name="Butter Chicken" id="Butter Chicken" class="quantity" min="0" value=0 disabled>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="item inc"><i class="fas fa-plus"></i></span>
			</div>
			<!--<div class="field">
			  <label class="field first half" for="Chicken Korma">Chicken Korma</label>
			  <p class="field half"><i class="fas fa-fw fa-globe-americas"></i>0,67 kg CO<sub>2</sub>e</p>
			  <p>svensk kycklingfilé i smakrik gryta som tillagas med lök, tomat, grön chili, ingefära och garam masala med kokosmjolk</p>
			  <p>swedish chicken fillet in tasty curry cooked with onion, tomato, green chili, ginger and garam masala with coconut milk </p>
			  <p><b>Allergener</b> Cashewnötter, Mandelmjöl, Mjölk, Laktos, Senap</p>
			  <input type="number" name="Chicken Korma" id="Chicken Korma" class="quantity" min="0" value=0 disabled>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="item inc"><i class="fas fa-plus"></i></span>
			</div>-->
			<div class="field">
			  <label class="field first half" for="Palak Chicken">Palak Chicken</label>
			  <p class="field half"><i class="fas fa-fw fa-globe-americas"></i>0,6 kg CO<sub>2</sub>e</p>
			  <p>yoghurtmarinerad svensk kycklingfilé i smakrik spenatsås</p>
			  <p>yogurt marinated swedish chicken fillet in tasty spinach curry </p>
			  <p><b>Ingredienser</b> Basmatiris 35%, Svensk Kycklingfilé 30%, Sås 35% (Lök, Tomat, Spenat, Grädde, Mandelmjöl, Yogurt, Vitlök, Ingefära, Rapsolja, Salt, Bockhornsklöver Blad och Garam Masala Kryddor)</p>
			  <p><b>Allergener</b> Cashewnötter, Mandelmjöl, Mjölk, Laktos, Senapsfrö, Vallmofrö</p>
			  <input type="number" name="Palak Chicken" id="Palak Chicken" class="quantity" min="0" value=0 disabled>
			  <span class="dec"><i class="fas fa-minus"></i></span>
                          <span class="item inc"><i class="fas fa-plus"></i></span>
			</div>
			<!--<div class="field">
			  <label for="productsel">Antal Paket (MINST 5 MATLÅDOR)</label>
			  <input type="number" name="productsel" id="productsel" min="5" value=5 disabled>
			  <span class="prodsel dec"><i class="fas fa-minus"></i></span>
                          <span class="inc"><i class="fas fa-plus"></i></span>
			</div>-->
			<h3>
    			  <i>Val av tillbehör</i>
			</h3>
                        <div class="field">
                          <input type="checkbox" id="Chappati" name="Chappati">
			  <label for="Chappati">10st Chapatibröd +89kr</label>
                          <p><b>Allergener</b> Gluten</p>
			</div>
			<div class="sblock">
			<h3>
    			  <i>Prenumeration</i>
			</h3>
			<div class="field">
                          <input type="checkbox" id="subscription" name="subscription">
			  <label for="subscription">Matlådorna leverans varje månad så länge du önskar utan bindningstid</label>
			</div>
			</div>
			<h3>
    			  <i>Order Summary</i>
			</h3>
			<div class="field">    
			  <label for="productsel">Antal Matlådor</label>
  			  <input id="productsel" type="number" name="productsel" class="out field" value=0 disabled/>
                        </div>
			<div class="field">    
			  <label for="total">Totalsumma (Inkl Moms i SEK)</label>
  			  <input id="total" type="number" name="total" class="out field" value=0 disabled/>
                        </div>
			<div class="sblock">
			<div class="field">
			  <input type="checkbox" required id="terms" name="terms">
			  <label for="terms">Jag samtycker till att Indiska Boxen behandlar mina personuppgifter, såsom mina kontaktuppgifter, betal och orderinformation bl.a. för att kunna hantera min beställning.</label>
			</div>
			</div>
			<label class="minorder"><i class="fa fa-fw fa-exclamation"></i> Beställ minst 5 matlådor (prenumeration minst 10 matlådor)</label>
			<button id="orderbtn" type="submit" disabled>Skicka Beställning</button>
			</div>
</form>
<div id="paydiv">
			<h4>Beställningsnummer: <span class="orderid"></span><br>Summa att betala: <span class="ordertotal"></span> kr</h4>
			<h4>Du kan betala för din beställning via Swish. Ange ditt beställningsnummer i meddelandet.</h4>
			<a class="link swish-link">
				<img src="{{ site.baseurl }}/assets/images/Swish_Vertical.png" alt-src="Betala med Swish">
			</a>
	  	<!--<button class="link swish-link">Betala med Swish</button>-->
			<a id="swish-uri"></a>
      <div id="swish-qr" class="modal" onclick="this.style.display='none'">
    	    <div class="modal-content">
					    <h5>Amount: <span class="ordertotal"></span> kr<br>Message: <span class="orderid"></span></h5>
					    <h6>Scan the QR code with the Swish app to start payment</h6>
      				<img src="{{ site.baseurl }}/assets/images/indiskaboxenswish.png" >
				  </div>
  		</div>
 </div>
