<script>
  var myFrame = document.getElementById('gFrame');
  var loc = window.location.search;//Get the search string of the domain
  var params = loc.slice(1).replace("&",'","').replaceAll("=",'":"');
  if (!params) {
    myFrame.src = "";
  } else {
    params = '{"' + params + '"}';
    params = JSON.parse(params);
    var Amount = params.amount.toString();
    var Order = params.order.toString();
    var frameSrc = myFrame.src.toString();
    var newSrc = frameSrc + "?amount=" + Amount + "&order=" + Order;
    myFrame.src = newSrc;//Set the new src and the iframe will refresh
  }
</script>
